* {
  margin: 0;
  padding: 0;
}

h2 {
  padding-top: 10%;
  text-align: center;
  color: red;
  font-size: 60px;
}

h3 {
  text-align: center;
  color: blue;
  font-size: 40px;
}

.wrapper {
  background-image: url(../images/1663624716_1-phonoteka-org-p-novogodnii-detskii-fon-vkontakte-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper .auto-calculator {
  display: flex;
  justify-content: center;
}
.wrapper .auto-calculator__wrapper {
  width: 600px;
  margin-bottom: 5%;
  background-color: #fff;
  border: 1px solid rgb(168, 5, 5);
}
.wrapper .auto-calculator__wrapper h4 {
  background-color: rgb(168, 5, 5);
  color: white;
  text-align: center;
  padding: 2%;
  margin-bottom: 3%;
}
.wrapper .auto-calculator__item_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.wrapper .auto-calculator__item {
  display: flex;
  justify-content: space-between;
}
.wrapper .auto-calculator__items {
  margin-right: 5%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
}
.wrapper .auto-calculator__items .auto-calculator__radio-buttons {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.wrapper .auto-calculator__button {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
.wrapper .auto-calculator input[type=text],
.wrapper .auto-calculator .auto-calculator__auction {
  width: 200px;
  border-radius: 5px;
  border: solid 1px;
  margin-bottom: 1%;
}
.wrapper .numbers {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.wrapper .numbers .number {
  height: 50px;
  width: 100px;
  font-size: 20px;
}
.wrapper .numbers .numbers__button {
  background-color: red;
  color: white;
  border-color: none;
  font-size: 20px;
}
.wrapper .calculator {
  display: flex;
  justify-content: center;
}
.wrapper .calculator__input {
  display: flex;
  flex-direction: column;
}
.wrapper .calculator__input-first, .wrapper .calculator__input-second {
  width: 400px;
  height: 200px;
  font-size: 80px;
  color: blue;
}
.wrapper .calculator__buttons {
  display: flex;
}
.wrapper .calculator__button {
  background-color: rgba(0, 0, 255, 0.306);
  width: 100px;
  font-size: 80px;
  color: white;
}
.wrapper .calculator__result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 410px;
  width: 300px;
  background-color: #fff;
  font-size: 80px;
  color: blue;
}
.wrapper .selected {
  background-color: rgb(255, 79, 79);
}
.wrapper .registration-form {
  width: 500px;
  height: 550px;
  background-color: #fff;
  margin: 10% auto;
  border-radius: 50px;
  box-shadow: 10px 10px 10px black;
}
.wrapper .registration-form__wrapper {
  margin: 20%;
  padding-top: 40px;
}
.wrapper .registration-form__wrapper h2 {
  margin-bottom: 30px;
}
.wrapper .registration-form #name,
.wrapper .registration-form #surname,
.wrapper .registration-form #number,
.wrapper .registration-form #email,
.wrapper .registration-form #country {
  border: none;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  width: 300px;
}
.wrapper .registration-form #checkbox {
  margin: 10px 5px;
}
.wrapper .registration-form #submit {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 300px;
  height: 40px;
  background-color: blue;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 20px;
}
.wrapper .registration-form #select {
  width: 300px;
  height: 40px;
}
.wrapper .change-theme {
  width: 800px;
  height: 500px;
  background-color: #fff;
  margin: 10% auto;
  border-radius: 50px;
  box-shadow: 10px 10px 10px black;
}
.wrapper .change-theme__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.wrapper .change-theme__wrapper #change-theme__select {
  font-size: 60px;
}
.wrapper .change-theme__wrapper .change-theme__option {
  font-size: 60px;
}/*# sourceMappingURL=style.css.map */