.game__container {
    margin: 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}
.container {
    display: flex;
    width: 250px;
    // overflow: hidden;
    gap: 100px;
}
.game__button {
    margin: 0 5%;
}
.game__learnt {
    display: flex;
    justify-content: center;
}
